 <!DOCTYPE html>
<html>
<head>
	<link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<% include nav.ejs %>
<h1>Test 33 Welcome to the most awesome website.</h1>
<p>You are on Home page.</p>

</body>
</html> 